<div class="navbar m-0 p-2">
    <img src ="http://ditstekdemo.com/BloomRunner/assets/images/logo.png" class ="image-responsive">  
    <div class="space">
      <div class="example-container">
        <mat-form-field appearance="">
          <!-- <i class="fa fa-search"></i>
          <span style ="margin-left:30px;"></span> -->
          <mat-label>Search...</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
    <span class="example-spacer"></span>
  <ul class ="navbar-right">
    <div>
      <i class ="fa fa-bell" style="font-size:15px;"> &nbsp; 3</i>
      <span style ="margin-right:30px;"></span>
       <img src = "http://ditstekdemo.com/BloomRunner/assets/images/face1.jpg" class ="image-radius">
    </div>
  </ul>
</div>